body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
}

.topbar {
  height: 100px;
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: large;
}

.tabs {
  display: flex;
  background: #2d2d2d;
  color: white;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tab.active {
  background: #1e1e1e;
}

#editor {
  flex: 1;
}
